<div class="index-card">
  <div class=" <%= "transparent" if current_page?(root_path) %> navbar navbar-expand-sm navbar-lewagon justify-content-end">
    <%= link_to root_path	, class: "navbar-brand" do %>
      <%= image_tag "shelter.png" %>
    <% end %>
  </div>

<main class="container my-3 d-flex align-items-center">
  <hr>
  <div class="mosaique">
      <figure id="ancre1" class="img1">
        <%= image_tag "vietnam.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord du Vietnam: Hanoï, Sapa, Mai Chau, Baie d'Along et l'île de Cat Ba</div>
        </div>
      </figure>
      <figure id="ancre2" class="img2 mt-5">
        <%= image_tag "laos.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord du Laos: Vientiane, Luang Prabang</div>
        </div>
      </figure>
       <figure id="ancre9" class="img9 mt-5">
        <%= image_tag "belgique.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Belgique: Bruxelle</div>
        </div>
      </figure>
      <figure id="ancre3" class="img3 mt-5">
        <%= image_tag "inde.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord de l'Inde: New-Delhi, Agra, Haridwar, Rishikesh (capitale mondiale du Yoga 🧘‍♀️)</div>
        </div>
      </figure>
      <figure id="ancre11" class="img11 mt-5">
        <%= image_tag "ecosse.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Ecosse: Edimbourg, Inverness</div>
        </div>
      </figure>
      <figure id="ancre5" class="img5 mt-5">
        <%= image_tag "canada.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Est du Canada: Montréal, Québec, Ottawa, Toronto</div>
        </div>
      </figure>
      <figure id="ancre4" class="img4 mt-5">
        <%= image_tag "ladhak.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Himalaya Indien: Région du Ladhak, le Petit Tibet. Leh, trek dans la région</div>
        </div>
      </figure>
      <figure id="ancre7" class="img7 mt-3">
        <%= image_tag "allemagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Allemagne: Hamburg, Berlin</div>
        </div>
      </figure>
      <figure id="ancre8" class="img8 mt-3">
        <%= image_tag "angleterre.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Angleterre: Londres</div>
        </div>
      </figure>
      <figure id="ancre6" class="img6 mt-3">
        <%= image_tag "argentin.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Argentine: Buenos Aires, El Calafate, Rio Gallegos, Ushuaïa</div>
        </div>
      </figure>
      <figure id="ancre14" class="img14 mt-3">
        <%= image_tag "pologne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Pologne: Poznan, Varsovie, Gdansk</div>
        </div>
      </figure>
      <figure id="ancre15" class="img15 mt-3">
        <%= image_tag "ireland.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Ireland: Dublin</div>
        </div>
      </figure>
      <figure id="ancre18" class="img18 mt-3">
        <%= image_tag "suede.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Suède: Stockholm, île de Sandhamn</div>
        </div>
      </figure>
      <figure id="ancre13" class="img13 mt-3">
        <%= image_tag "grece.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Grèce: Athènes</div>
        </div>
      </figure>
      <figure id="ancre16" class="img16 mt-5">
        <%= image_tag "portugal.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Portugal: Porto</div>
        </div>
      </figure>
      <figure id="ancre17" class="img17 mt-5">
        <%= image_tag "paysbas.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Pays-Bas: Amsterdam, La Haye</div>
        </div>
      </figure>
      <figure id="ancre19" class="img19 mt-5">
        <%= image_tag "reptcheque.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">République-Tchèque: Prague</div>
        </div>
      </figure>
      <figure id="ancre12" class="img12">
        <%= image_tag "espagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Espagne: Barcelone, Azuaga</div>
        </div>
      </figure>
      <figure id="ancre20" class="img20">
        <%= image_tag "estonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Estonie: Tallin</div>
        </div>
      </figure>
      <figure id="ancre21" class="img21 mt-5">
        <%= image_tag "lettonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Lettonie: Riga</div>
        </div>
      </figure>
      <figure id="ancre10" class="img10">
        <%= image_tag "danemark.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Danemark: Copenhague</div>
        </div>
      </figure>
      <figure id="ancre22" class="img22">
        <%= image_tag "lituanie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Lituanie: Vilnius</div>
        </div>
      </figure>
  </div>
  </main>
</div>
