<nav class="navbar navbar-light light-white lighten-4 fixed-top ">
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="black-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p><%= link_to "Home", root_path %></p>
      </li>
      <li class="nav-item">
        <p><%= link_to "FullStack Development", fullstack_path %></p>
      </li>
      <li class="nav-item">
        <p><%= link_to "Projects", project_path %></p>
      </li>
    </ul>
  </div>
</nav>

<div class="index-card">
  <div class=" <%= "transparent" if current_page?(root_path) %> navbar navbar-expand-sm navbar-lewagon justify-content-end">
    <%= link_to root_path	, class: "navbar-brand" do %>
      <%= image_tag "shelter.png" %>
    <% end %>
  </div>

<div class="container">
    <h1> Some places </h1>
</div>

<main class="container my-3 d-flex align-items-center">
  <hr>
  <div class="mosaique">
      <figure id="ancre1" class="img1">
        <%= image_tag "vietnam.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Vietnam: Hanoï, Sapa, Mai Chau, Along Bay and Cat Ba island</div>
        </div>
      </figure>
      <figure id="ancre2" class="img2 mt-5">
        <%= image_tag "laos.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Laos: Vientiane, Luang Prabang, Vang Vieng, Kuang Si</div>
        </div>
      </figure>
       <figure id="ancre9" class="img9 mt-5">
        <%= image_tag "belgique.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Belgium: Bruxelles, Anvers, Bruges</div>
        </div>
      </figure>
      <figure id="ancre3" class="img3 mt-5">
        <%= image_tag "inde.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">India: New-Delhi, Agra, Haridwar, Rishikesh (world capital of Yoga 🧘‍♀️)</div>
        </div>
      </figure>
      <figure id="ancre11" class="img11 mt-5">
        <%= image_tag "ecosse.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Scotland: Edinburg, Inverness</div>
        </div>
      </figure>
      <figure id="ancre5" class="img5 mt-5">
        <%= image_tag "canada.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Canada: Montréal, Québec, Ottawa, Toronto</div>
        </div>
      </figure>
      <figure id="ancre4" class="img4 mt-5">
        <%= image_tag "ladhak.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Indien Himalayas: Ladhak, "le Petit Tibet", Leh, trekking</div>
        </div>
      </figure>
      <figure id="ancre7" class="img7 mt-3">
        <%= image_tag "allemagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Germany: Hamburg, Berlin</div>
        </div>
      </figure>
      <figure id="ancre8" class="img8 mt-3">
        <%= image_tag "angleterre.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">England</div>
        </div>
      </figure>
      <figure id="ancre6" class="img6 mt-3">
        <%= image_tag "argentin.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Argentina: Buenos Aires, El Calafate, Rio Gallegos, Ushuaïa</div>
        </div>
      </figure>
      <figure id="ancre14" class="img14 mt-3">
        <%= image_tag "pologne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Poland: Poznan, Warsaw, Gdansk</div>
        </div>
      </figure>
      <figure id="ancre15" class="img15 mt-3">
        <%= image_tag "ireland.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Ireland: Dublin</div>
        </div>
      </figure>
      <figure id="ancre18" class="img18 mt-3">
        <%= image_tag "suede.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Suede: Stockholm, Sandhamn</div>
        </div>
      </figure>
      <figure id="ancre13" class="img13 mt-3">
        <%= image_tag "grece.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Greece: Athens</div>
        </div>
      </figure>
      <figure id="ancre16" class="img16 mt-5">
        <%= image_tag "portugal.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Portugal: Porto</div>
        </div>
      </figure>
      <figure id="ancre17" class="img17 mt-5">
        <%= image_tag "paysbas.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Netherlands: Amsterdam, La Haye</div>
        </div>
      </figure>
      <figure id="ancre19" class="img19 mt-5">
        <%= image_tag "reptcheque.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Czech Republic: Prague</div>
        </div>
      </figure>
      <figure id="ancre12" class="img12">
        <%= image_tag "espagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Spain: Barcelona, Azuaga</div>
        </div>
      </figure>
      <figure id="ancre20" class="img20">
        <%= image_tag "estonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Estonia: Tallin</div>
        </div>
      </figure>
      <figure id="ancre21" class="img21 mt-5">
        <%= image_tag "lettonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Latvia: Riga</div>
        </div>
      </figure>
      <figure id="ancre10" class="img10">
        <%= image_tag "danemark.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Denmark: Copenhagen</div>
        </div>
      </figure>
      <figure id="ancre22" class="img22">
        <%= image_tag "lituanie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Lithuania: Vilnius</div>
        </div>
      </figure>
  </div>
  </main>
</div>

<div class="footer mt-3">
  <div class="footer-links">
    <a href="https://github.com/YasmineBouhaik" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.notion.so/yasminebouhaik/Yasmine-Bouhaik-D-veloppement-Web-6f3d77882eeb46d7a0bc23f07741c8e8" target="_blank"><img src="https://img.icons8.com/material-outlined/24/000000/notion--v1.png"/>
    <a href="https://www.linkedin.com/in/yasminebouhaik/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Portfolio YB 👩‍💻
  </div>
</div>
