<nav class="navbar navbar-light light-white lighten-4 fixed-top ">
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="black-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p><%= link_to "Home", root_path %></p>
      </li>
      <li class="nav-item">
        <p><%= link_to "Projects", project_path %></p>
      </li>
      <li class="nav-item">
        <p><%= link_to "Interests", interest_path %></p>
      </li>
    </ul>
  </div>
</nav>

<div class=" <%= "transparent" if current_page?(root_path) %> navbar navbar-expand-sm navbar-lewagon justify-content-end">
    <%= link_to root_path	, class: "navbar-brand" do %>
      <%= image_tag "shelter.png" %>
    <% end %>
  </div>
</div>

<div class="container my-3">
<h1> What I have learned 💡</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card-skill">
      <div class="card-body">
        <p class="card-text"><strong>Understanding</strong> the core concepts of object-oriented programming (Ruby)</p>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Designing</strong> a relational database and build queries with SQL
          Build the UI (User Interface) following atomic design framework</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Learning ES6</strong> (last version of Javascript) as a second programming language</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Discovering</strong>  TDD (Test Driven Development) and learn how to cover my application's code with unit tests</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card-skill">
      <div class="card-body">
        <p class="card-text"><strong>Structuring</strong> the software following design patterns like MVC
          Integrate a 3rd party service using an API or scrape HTML data</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Coding</strong> a CSS library using recent techniques like flexbox or CSS grid</p>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Adopting</strong> the right technical workflow: design the wireframe & mockup, test the UX with a prototype, split the user stories across my team and collaborate with branch and pull requests with git and Github</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
  <div class="container d-flex justify-content-center">
    <%= image_tag "Web_Dev_Icons.png", style: 'max-width:80%; height:auto;' %>
  </div>
  <br>
  <br>
  <br>
  <p>Now, I want to understand and learn other programming languages such as JAVA, React, Angular, SpringBoot and improve my JavaScript skills</p>
  <br>
  <br>
  <h1> My Resume 🤓 </h1>
  <br>
  <br>
  <div class="container-cv d-flex justify-content-center mb-5">
    <%= image_tag "cvyb.png", style: 'width:50%;' %>
  </div>
</div>

<div class="footer mt-3">
  <div class="footer-links">
    <a href="https://github.com/YasmineBouhaik" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.notion.so/yasminebouhaik/Yasmine-Bouhaik-D-veloppement-Web-6f3d77882eeb46d7a0bc23f07741c8e8" target="_blank"><img src="https://img.icons8.com/material-outlined/24/000000/notion--v1.png"/>
    <a href="https://www.linkedin.com/in/yasminebouhaik/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Portfolio YB 👩‍💻
  </div>
</div>
