<div class=" <%= "transparent" if current_page?(root_path) %> navbar navbar-expand-sm navbar-lewagon justify-content-end">
    <%= link_to root_path	, class: "navbar-brand" do %>
      <%= image_tag "shelter.png" %>
    <% end %>
  </div>
</div>

<div class="container my-3">
<h1> What I have learned 💡</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card-skill">
      <div class="card-body">
        <p class="card-text"><strong>Understanding</strong> the core concepts of object-oriented programming (Ruby)</p>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Designing</strong> a relational database and build queries with SQL
          Build the UI (User Interface) following atomic design framework</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Learning ES6</strong> (last version of Javascript) as a second programming language</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Discovering</strong>  TDD (Test Driven Development) and learn how to cover my application's code with unit tests</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card-skill">
      <div class="card-body">
        <p class="card-text"><strong>Structuring</strong> the software following design patterns like MVC
          Integrate a 3rd party service using an API or scrape HTML data</p>
      </div>
       <div class="card-body">
        <p class="card-text"><strong>Coding</strong> a CSS library using recent techniques like flexbox or CSS grid</p>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Adopting</strong> the right technical workflow: design the wireframe & mockup, test the UX with a prototype, split the user stories across my team and collaborate with branch and pull requests with git and Github</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
  <div class="container d-flex justify-content-center">
    <%= image_tag "Web_Dev_Icons.png", style: 'width:80%;' %>
  </div>
  <br>
  <br>
  <br>
  <h1> My Resume 🤓 </h1>
  <br>
  <br>
  <br>
  <div class="container d-flex justify-content-center">
    <%= image_tag "cvyb.png", style: 'width:50%;' %>
  </div>
</div>
