<div class="index-card">
  <div class=" <%= "transparent" if current_page?(root_path) %> navbar navbar-expand-sm navbar-lewagon justify-content-end">
    <%= link_to root_path	, class: "navbar-brand" do %>
      <%= image_tag "shelter.png" %>
    <% end %>
  </div>

  <div class="container">
    <h1> My world tour </h1>
    <br>
    <br>
    <p> I love travelling, meet people and other cultures <br>
    I take my backpack 🎒 and go !
  </div>

  <div class="container mt-5">
    <div class="col-12 justify-content-center mb-5" id="map"
      style="width: 100%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h1> Some photos 📸 </h1>
  </div>

<main class="container my-3 d-flex align-items-center">
  <hr>
  <div class="mosaique">
      <figure id="ancre1" class="img1">
        <%= image_tag "vietnam.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord du Vietnam: Hanoï, Sapa, Mai Chau, Baie d'Along et l'île de Cat Ba</div>
        </div>
      </figure>
      <figure id="ancre2" class="img2 mt-5">
        <%= image_tag "laos.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord du Laos: Vientiane, Luang Prabang</div>
        </div>
      </figure>
       <figure id="ancre9" class="img9 mt-5">
        <%= image_tag "belgique.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Belgique: Bruxelle</div>
        </div>
      </figure>
      <figure id="ancre3" class="img3 mt-5">
        <%= image_tag "inde.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Nord de l'Inde: New-Delhi, Agra, Haridwar, Rishikesh (capitale mondiale du Yoga 🧘‍♀️)</div>
        </div>
      </figure>
      <figure id="ancre11" class="img11 mt-5">
        <%= image_tag "ecosse.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Ecosse: Edimbourg, Inverness</div>
        </div>
      </figure>
      <figure id="ancre5" class="img5 mt-5">
        <%= image_tag "canada.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Est du Canada: Montréal, Québec, Ottawa, Toronto</div>
        </div>
      </figure>
      <figure id="ancre4" class="img4 mt-5">
        <%= image_tag "ladhak.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Himalaya Indien: Région du Ladhak, le Petit Tibet. Leh, trek dans la région</div>
        </div>
      </figure>
      <figure id="ancre7" class="img7 mt-3">
        <%= image_tag "allemagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Allemagne: Hamburg, Berlin</div>
        </div>
      </figure>
      <figure id="ancre8" class="img8 mt-3">
        <%= image_tag "angleterre.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Angleterre: Londres</div>
        </div>
      </figure>
      <figure id="ancre6" class="img6 mt-3">
        <%= image_tag "argentin.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Argentine: Buenos Aires, El Calafate, Rio Gallegos, Ushuaïa</div>
        </div>
      </figure>
      <figure id="ancre14" class="img14 mt-3">
        <%= image_tag "pologne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Pologne: Poznan, Varsovie, Gdansk</div>
        </div>
      </figure>
      <figure id="ancre15" class="img15 mt-3">
        <%= image_tag "ireland.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Ireland: Dublin</div>
        </div>
      </figure>
      <figure id="ancre18" class="img18 mt-3">
        <%= image_tag "suede.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Suède: Stockholm, île de Sandhamn</div>
        </div>
      </figure>
      <figure id="ancre13" class="img13 mt-3">
        <%= image_tag "grece.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Grèce: Athènes</div>
        </div>
      </figure>
      <figure id="ancre16" class="img16 mt-5">
        <%= image_tag "portugal.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Portugal: Porto</div>
        </div>
      </figure>
      <figure id="ancre17" class="img17 mt-5">
        <%= image_tag "paysbas.png", class:"img" %>
         <div class="middle">
          <div class="text align-items-center">Pays-Bas: Amsterdam, La Haye</div>
        </div>
      </figure>
      <figure id="ancre19" class="img19 mt-5">
        <%= image_tag "reptcheque.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">République-Tchèque: Prague</div>
        </div>
      </figure>
      <figure id="ancre12" class="img12">
        <%= image_tag "espagne.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Espagne: Barcelone, Azuaga</div>
        </div>
      </figure>
      <figure id="ancre20" class="img20">
        <%= image_tag "estonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Estonie: Tallin</div>
        </div>
      </figure>
      <figure id="ancre21" class="img21 mt-5">
        <%= image_tag "lettonie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Lettonie: Riga</div>
        </div>
      </figure>
      <figure id="ancre10" class="img10">
        <%= image_tag "danemark.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Danemark: Copenhague</div>
        </div>
      </figure>
      <figure id="ancre22" class="img22">
        <%= image_tag "lituanie.png", class:"img" %>
        <div class="middle">
          <div class="text align-items-center">Lituanie: Vilnius</div>
        </div>
      </figure>
  </div>
  </main>

<div class="container">
    <h1> Interests </h1>
</div>

  <div class="card-group m-5">
    <div class="card g-col-6 g-col-md-4 mb-5 d-flex align-items-center border-0 mt-5">
      <img class="avatar-small mb-3 mt-5" alt="avatar-large" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t31.18172-8/24297382_1537178243033484_5423448243149397906_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=9aCsFdkkHQoAX9pf4nx&_nc_ht=scontent-cdt1-1.xx&oh=00_AT8YDNyXNJZbEKC-WubwEwZh9eBlGqzKyDriEdNpwSr09g&oe=6203139E" />
      <div class="card-body">
        <h4 class="card-title"> I'm a drumplayer 🥁 </h4>
        <p class="card-text"> I used to play in this music group called "Beans On Toast Salvation" with my brother and two friends. We've played for many years together and we also played live in Paris in different places: La Boule Noire, Le Petit Bain, Le Batofar etc.</p>
          <div class=" <%= "transparent" if current_page?("http://www.bikeaway.live/") %> navbar navbar-expand-sm navbar-lewagon justify-content-top">
          <%= link_to "https://www.deezer.com/search/beans%20on%20toast%20salvation", target:"_blank", class: "navbar-brand" do %>
          <%= image_tag "logobots.png", style: "width: 50%" %><p>Click 🎧</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card g-col-6 g-col-md-4 ml-0 mb-5 d-flex align-items-center border-0 mt-5">
      <img class="avatar-small mb-3 mt-5 " alt="avatar-large" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.6435-9/s552x414/71099055_10157512382201797_8447668078107426816_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=da31f3&_nc_ohc=lX0-OUeZV3EAX_n-2v1&_nc_ht=scontent-cdt1-1.xx&oh=00_AT-lbyRwaY6ixPwwUoPi1QdAkvH0aAj2LYoSS4qCD0zSpg&oe=61FB7F13" />
      <div class="card-body">
        <h4 class="card-title"> I like challenging myself</h4>
        <p class="card-text"> The "Paris-Versailles" race, big cities semi-marathons (Lille 21 km). <br> I'm looking to do other semi-marathons in Europe and why not the New-York marathon one day !<br>
        I'd love to travel with my bike too ! 🚲
      </div>
    </div>
  </div>
  </div>
</div>

<div class="footer mt-3">
  <div class="footer-links">
    <a href="https://github.com/YasmineBouhaik" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.notion.so/yasminebouhaik/Yasmine-Bouhaik-D-veloppement-Web-6f3d77882eeb46d7a0bc23f07741c8e8" target="_blank"><img src="https://img.icons8.com/material-outlined/24/000000/notion--v1.png"/>
    <a href="https://www.linkedin.com/in/yasminebouhaik/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Portfolio YB 👩‍💻
  </div>
</div>
